.btn {
  text-transform: lowercase;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  color: grey;
  /* background-color: var(--btn-color); */
  background-color: transparent;
  border: 3px solid grey;
  border-radius: 2rem;
  outline: none;
  transition: color 0.1s ease, background-color 0.1s ease;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: grey;
  color: var(--btn-color);
}

.btn.absolute {
  position: absolute;
}

.btn.relative {
  position: relative;
  margin: 3rem 3rem;
}

.btn.absolute.right {
  bottom: 3%;
  right: 3%;
}

.btn.absolute.left {
  bottom: 3%;
  left: 3%;
}
