.noteList {
  list-style: none;
  overflow-y: scroll;
  height: 85vh;
  padding: 0 2rem;

  scrollbar-width: thin;
  scrollbar-color: --text-color-primary var(--btn-color-hover);
}

.noteListButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.noteListItem {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 60ch;
  border: 3px solid currentColor;
  margin-bottom: 1rem;

  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: box-shadow 0.5s ease;

  cursor: pointer;
}

.noteListItem:hover {
  /* -webkit-box-shadow: 14px 15px 14px -16px currentColor; */
  /* -moz-box-shadow: 14px 15px 14px -16px currentColor; */
  /* box-shadow: 5px 7px 25px -15px currentColor; */

  background-color: color-mix(in hsl, currentColor, var(--hover));
}

.noteListItemSelected {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 60ch;
  border: 3px solid currentColor;
  margin-bottom: 1rem;

  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: box-shadow 0.5s ease;

  background-color: color-mix(in hsl, currentColor, var(--hover));

  cursor: pointer;
}

.noteInput {
  border: 3px solid currentColor;

  width: 100%;
  height: 85vh;
  background-color: var(--fg-color);
  font-size: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1rem;
  transition: border 0s ease;
  position: relative;
}

.noteInput:hover {
  /* -webkit-box-shadow: 8px 15px 52px -33px currentColor; */
  /* -moz-box-shadow: 8px 15px 52px -33px currentColor; */
  /* box-shadow: 8px 15px 52px -33px currentColor; */

  /* border: 3px solid currentColor; */
}

.noteInputTitle {
  font-family: inherit;
  font-weight: 600;

  font-style: italic;
  padding: 1rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  width: 93%;
  color: var(--text-color-primary);
}

.noteInputBody {
  font-family: inherit;

  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  outline: none;
  border: none;
  background-color: var(--fg-color);
  color: var(--text-color-primary);
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* 1100px */
@media only screen and (max-width: 68.75em) {
  .noteListItem {
    width: 40ch;
  }
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .noteListItem {
    width: 30ch;
  }
}

/* 800px */
@media only screen and (max-width: 50em) {
  .notes {
    align-items: start;
    grid-row: 2/3;
  }

  .noteList {
    height: auto;
  }

  .noteListButtons {
    justify-content: start;
  }

  .noteListItem {
    width: 85vw;
  }

  .noteInput {
    height: 80vh;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .noteList {
    padding-left: 0.5rem;
  }

  .noteListButtons {
    flex-direction: column;
    align-items: start;
  }
}
