.noteList {
  list-style: none;
  overflow-y: scroll;
  height: 85vh;
  padding: 2rem;
}

.noteList__item {
  width: 60ch;

  font-size: 1.2rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  transition: box-shadow 0.5s ease;

  cursor: pointer;
}

.noteList__item:hover,
.noteList__item.selected {
  -webkit-box-shadow: 14px 15px 14px -16px var(--color-primary);
  -moz-box-shadow: 14px 15px 14px -16px var(--color-primary);
  box-shadow: 5px 7px 25px -15px var(--color-primary);
}

/* -webkit-box-shadow: 14px 15px 14px -16px var(--color-primary);
-moz-box-shadow: 14px 15px 14px -16px var(--color-primary);
box-shadow: 14px 15px 14px -16px var(--color-primary); */
