.userInstructions {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: var(--fg-color);
  padding: 3rem;
  user-select: none;
  border-radius: 3rem;
}

.instructionList {
  list-style: none;
}

.instructionListItem {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
}

.instructionListItemSpace {
  display: flex;
  width: 45rem;
  justify-content: space-between;
}

.highlight {
  color: var(--color-primary);
}
