.user-instructions {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: black;
    /* BASED ON CURRENT THEME ^^^^^ */
    padding: 3rem;
    user-select: none;
  }
  
  .instructionList {
    list-style: none;
  }
  
  .instructionList__item {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
  }
  
  .instructionList__item--space {
    display: flex;
    width: 30rem;
    justify-content: space-between;
  }

  .highlight {
    color: var(--color-primary);
  }