:root {
  --color-primary: #178ed3;
  --bg-color: #f8f8f8;
  --fg-color: #fff;
  --btn-color: #e9e9ed;
  --btn-color-hover: #e1e1e1;
  --text-color-primary: #0a0a0a;
  --toggle-bg: #ffd875;
  --toggle-fg: #f28e03;

  --red: #e85353;
  --blue: #285cbb;
  --green: #128e39;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: grid;
  align-items: center;

  padding: 3rem 5rem 3rem 2rem;
  background-color: #f8f8f8;
  overflow-y: hidden;

  transition: background-color 250ms ease-in-out;
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.heading-tertiary {
  /* using !important, cause giving inline styles to get each note color to make it
  as box-shadow color while hovering */
  color: var(--text-color-primary) !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[data-theme="dark"] {
  --bg-color: #111110;
  --btn-color: #151515;
  --btn-color-hover: #1f1f1f;
  --fg-color: #0b0b09;
  --text-color-primary: #f6f6f6;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
}

/* 800px */
@media only screen and (max-width: 50em) {
  #root {
    position: relative;
  }

  body {
    padding: 3rem;
    padding-bottom: 1rem;
    align-items: start;
    overflow-y: auto;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 45%;
  }

  body {
    padding: 2rem;
  }
}

@media only screen and (max-height: 50em) {
  body {
    overflow-y: auto;
  }
}
